<!DOCTYPE html>
<html lang="en">

<head>
    <title>リリィフィリア</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="list-container">
            <h2>リリィフィリア</h2>
            <ul>
                <li><a href="/m/01arabesque">アラベスク</a></li>
                <li><a href="/m/02ainojikken">愛の実験</a></li>
                <li><a href="/m/03erotic">エロティック</a></li>
                <li><a href="/m/04hikousen">飛行船</a></li>
                <li><a href="/m/05kaifukusurukizu">回復する傷</a></li>
                <li><a href="/m/06houwa">飽和</a></li>
                <li><a href="/m/07tobenaitsubasa">飛べない翼</a></li>
                <li><a href="/m/08kyomei">共鳴(空虚な石)</a></li>
                <li><a href="/m/09glide">グライド</a></li>
            </ul>
        </div>
    </div>
</body>

<script>
</script>

</html>